# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code / PyCharm
.vscode/
.idea/

# Alembic cache
alembic/versions/*.pyc


# local ai models (it is very have)
local_ai